<div class="card-box save-page">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-lg-12"><i class="fa fa-check">&nbsp;&nbsp;</i><label for="">{{ trans('admin::common.save_page') }}</label></div>
	</div>
</div>